/* 
.header__part {
    padding: 30px 0;
    background-color: #2b2b2b; 
    display: flex;
    justify-content: space-around;
} */

/* .logo__site {
    font-weight: 700;
    font-size: 40px;
    text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.3),
                 2px -2px 0 rgba(0, 0, 0, 0.3),
                -2px 2px 0 rgba(0, 0, 0, 0.3),
                 2px 2px 0 rgba(0, 0, 0, 0.3);
    color: #e74c3c; 
}

.header__navigation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__navigation-item {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(192, 57, 43, 0.6); 
    border: 1px solid transparent;
    border-radius: 10px;
    color: #f6c6c6;
    font-weight: 800;
}

.header__navigation-item:hover {
    background-color: rgba(192, 57, 43, 1); 
}

.main__part {
    background-image: url('https://i.pinimg.com/736x/07/37/04/073704774abb6e39c858c9fa8fa88c9f.jpg');
}

.wrapper {
    margin: 0 auto;
    max-width: 90%;
}

 */

.game-block {
    display: flex;
    justify-self: center;
}

.game {
    width: 100%;
    max-width: 700px;
    height: 70vh;
    border: 1px solid #ffffff;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #06788D;
}

.items {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.item {
    width: 33%;
}

.item img {
    width: auto;
    border-radius: 50%;
}

.player-btns {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.player-count {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden; 
}

.player__count {
    max-width: calc(100% - 50px);
    height: 50px;
    border: none;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 3px 0 0 3px;
    font-size: 40px;
    text-align: center;
}

button:disabled,
input:disabled {
    cursor: default;
    opacity: 0.3;
}

.player__count-btn {
    height: 50px;
    width: 50px;
    background-color: #e43552;
    border: none;
    border-radius: 3px;
}

.choices__btn {
    display: flex;
    justify-content: center;
}

.choice {
    width: 90px;
    height: 40px;
    margin: 15px 10px;
    background-color: #e43552;
    font-size: 16px;
    border-radius: 3px;
    padding: 5px 10px;
}

.play {
    background-color: #fff;
    color: #06788D;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    font-weight: bold;
}

.play__text {
    color: #e74c3c;
    width: 100%;
    font-size: 24px;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.game__results {
    background-color: #06788D;
    width: 320px;
    height: 70vh;
    border: #fff 2px solid;
    border-radius: 0 10px 10px 0;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.game__results div {
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px solid white;
}

.game__results strong {
    font-size: 16px;
    color: #e67689;
}

.comp__total,
.player__total {
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
}

.footer__part {
    background-color: #2b2b2b; 
    padding: 30px 0;
    text-align: center;
    color: #f6c6c6; 
}

.hidden {
    display: none;
}

@media (max-width: 1023px) {

    .game {
        border-radius: 10px;
    }

    .game__results {
        display: none;
    }
}
